{{#each data.abilities as |ability id|}}
{{#eqt @index 6}}
<li class="ability2" data-ability="{{id}}">
<h4 class="ability-name box-title">{{ability.label}}</h4>
<input class="ability-score" name="data.abilities.{{id}}.value" type="number" value="{{ability.value}}" placeholder="0"/>
</li>
{{/eqt}}
{{#eqt @index 7}}
<div class="ability3" data-ability="{{id}}">
<h4 class="ability-name box-title-small">{{ability.label}}</h4>
<input class="ability-score" name="data.abilities.{{id}}.value" type="number" value="{{ability.value}}" placeholder="0"/>
</div>
{{/eqt}}
{{else}}
{{/each}}
